@font-face {
    font-family: Arial-Nova-Condensed;
    src: url(../main/font/ArialNovaCond.ttf);
}

@font-face {
    font-family: Arial-Nova-Condensed-Bold;
    src: url(../main/font/ArialNovaCond-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdf7fb;
    font-family: Arial-Nova-Condensed;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: 40vw;
    margin: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-width: 25px 2px 25px 2px;
    border-style: solid;
    border-color: #b51013;
    background-color: #fdf7fb;
    position: relative;
}

.baubles {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}

.santa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

.santa img {
    width: 30%;
}

.baubles img {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
}

.foss-logo img {
    width: 16%;
}

.event-header {
    font-size: 25px;
    text-align: center;
    margin-top: 6vh;
    font-family: Arial-Nova-Condensed-Bold;
}

.event-header img {
    width: 60%;
}

.greeting {
    font-size: 20px;
    text-align: center;
    margin-top: 2vh;
    padding: 0 16px;
}

.details {
    font-size: 16px;
    text-align: center;
    margin-top: 3vh;
}

.participant-name {
    font-size: 18px;
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1300px) {
    .container {
        width: 50vw;
    }

}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
    .container {
        width: 60vw;
    }

}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 900px) {

    .container {
        width: 75vw;
    }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 700px) {
    .container {
        width: 90vw;
    }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
    .container {
        width: 100vw;
    }
}

/* ----------------------------------------------------------------- */